@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
    margin: 0 auto;
    background-color: white;
}

html, body{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #245276;
}

::-webkit-scrollbar-thumb {
    background: #129383;
}
::-webkit-scrollbar-thumb:hover {
    background: #7587cd;
}

header {
    background-color: #245276;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0px;
}

header img{
    width: 10vw;
    height: auto;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #245276;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    position: sticky;
    top: 0;
}

a {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 30px; 
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a.active {
    border-radius: 5px;
    color: black;
    background: #129383;
}

a:hover {
    border-radius: 5px;
    color: black;
    background: #129383;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    a {
        margin: 5px;
    }
}

main h2 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

p{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
}

.aboutUs_container {
    background-image: url(./images/backgroundhome.jpg);
    height: 100vh;
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutUs_text   {
    background-color: white;
    width: 40%;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

.values_container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(220, 220, 220);
}

.values_text{
    background-color: #245276;
    color: #fff;
    width: auto;
    text-align: center;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

/*footer{
    color: #ddd;
    background-color: #245276;
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
    font-size: small;
}*/

@media (max-width: 1024px) {
    .aboutUs_text{
        width: fit-content;
    }

    .values_container{
        flex-direction: column;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}
